@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  @media screen and (max-width: 768px) {
    .intro-box {
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .port-box {
        margin-bottom: 10px;
    }
  }


a{ text-decoration: none;}  
ul{ list-style: none;}


.logo {
    float: left;
    margin-top: 90px;
    margin-left: -140px;
    font-size: 30px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    background: none;
    border: none;
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    top: 50px;
}


.nav-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}
.nav-logo:hover{
    color: inherit;
}

.menu{
    float: right;
    margin-top:60px;
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    top: 70px; 
}



/*  menu  */
.menu li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

#menu-b{
    background-color: #1abc9c;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    position: relative; /*위치 조정을 위해 상대적 위치 설정*/
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    margin-right: 40%;
    top: 100px;
    color: white;
    border-radius: 20px;
}

.menu-button{
    border: none;
    outline: none;
    background: #1abc9c;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    position: relative; /*위치 조정을 위해 상대적 위치 설정*/
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    top: 100px;
    color: white;
    border-radius: 20px;
}


.menu.in_main-menu button{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

/*
.menu-container ul.menu {
    display: none;
}

/*화면 줄임 매뉴
@media (max-width: 768px) {
    .menu-container ul.menu.active {
        display: block;
    }
}
*/

/*fixed문제 해결해야함*/
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
    left: 250px;
    font-size: 30px;
    text-align: center;
    z-index: 100;

}



header{
    position: fixed;
    margin-top: 0; 
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 1rem;
    background-color:#2c3e50;    
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 100;
};

body {
    padding-top: 100px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



/* intro */
.intro-box{
    background-color: #1abc9c;
    height: 600px;
    display: flex;
    flex-direction: column;  /*텍스트 세로 배치*/
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:10px;
    width: 100%;
    color: white;
    margin-bottom: 10px
};

.intro-box h1{
    margin: 0; 
    font-size: 80px;
    font-weight: bold;
}

.intro-box h3 {
    font-size: 30px;
    margin-top: 10px;
}

@media screen and (max-width:500px) {
    .menu-button{
        border: none;
        background: #1abc9c;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        position: relative; /*위치 조정을 위해 상대적 위치 설정*/
        z-index: 1; /*다른 요소 위에 표시하기 위해..*/
        top: 100px;
        color: white;
        border-radius: 20px;
    }
    
}


/*portfolio */
.port-box{
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;  /*텍스트 세로 배치*/
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*가로로 분배*/
    margin-bottom: 370px;
};

.port-box h1 {
    font-size: 50px;
    margin: 0;
    margin-right: 0;
    color:#2c3e50;
    font-weight: bold;
}

.portp-wrapper img{
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.portp-wrapper-group {
    display: flex;
    justify-content: space-between;
    width: 100%;  /*그룹이 가로 채우기*/
    margin-bottom: 20px;
}
.portp-wrapper{
width: calc(33.33% - 20px); /*차지 비율, 간격*/
box-sizing: border-box;
margin: 0 10px 20px 10px;
}


.about-box{
    background-color: #1abc9c;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;   
    };

.about-box h1{
    font-size: 50px;
    margin: 0;
}

.about-box h3{
    font-size: 20px;
    margin: 0;
}

.click_down{
    border: none;
    outline: none;
    background: #1abc9c;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    position: relative; /*위치 조정을 위해 상대적 위치 설정*/
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    top: 100px;
    color: white;
    border-radius: 20px;
}

.contact-box{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #2c3e50;
    font-size: medium;   
    };

.contact-box h1 {
    font-size: 80px;
    margin: 0;
    margin-right: 0;
    font-weight: bold;
};


.submit-button{
    background-color: #1abc9c;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    position: relative; /*위치 조정을 위해 상대적 위치 설정*/
    z-index: 1; /*다른 요소 위에 표시하기 위해..*/
    margin-right: 40%;
    color: white;
    border-radius: 20px;
}